@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a href="http://canarytokens.com/about/articles/tags/jif4epdpi1hlwnya4t3807a5q/post.jsp">Passwords</a>
```
