@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="http://canarytokens.com/terms/stuff/images/otno2px745b70ke2s5yafypwt/index.html" />

<a href="http://canarytokens.com/about/static/ls0z7dtwjiusq1jsw71his7e8/index.html">Click here</a> to view the secret passwords.

<br />

<a href="http://canarytokens.com/tags/articles/ie0zuvuk45mkalhhbhffldsbf/post.jsp">Click here</a> to view the fast redirect.

<br />
```
<a href="http://canarytokens.com/terms/images/feedback/cgwt16u1e12fqb8mwaexx0qpw/post.jsp">Click here</a> to view the slow redirect.
```